* {
background:transparent !important;
color:#000 !important;
text-shadow:none !important;
filter:none !important;
-ms-filter:none !important;
}
body {
margin:0;
padding:0;
}
.home_page + .container-fill {
    margin: 0 !important;
}
.perfil-box, .questionario-h1 {
	border: none;
}
footer, hr, .home_page, .btn, .content-objective, .relatorio-tabs {
	display: none;
}
.collapse {
    display: block !important;
    height: auto !important;
}
.tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.print-div {
	display: block;
}
.print-div h1{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}