@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul, dl {
    list-style:none;
}

a {
  text-decoration:none;
  background: none;
  }

/*~~~~~~~~~~~ Responsive Resets ~~~~~~~~~~~*/

@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}


/*~~~~~~~~~~~ Layout ~~~~~~~~~~~*/
body {
	font-style: normal;
	color: #8e8e8e;
	font-size:17px;
	line-height:25px;
	background-color: rgba(222, 220, 220, 0.19);
}
.wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
}
.container {
    padding:0 20px 150px;
}
.container-fill {
	float: left;
	width: 100%;
	margin:0 auto;
	display: block;
}
.home_page + .container-fill {
	margin:160px auto 0;
}

.home_page {
	position: fixed;

}
header {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	width: 100%;
	height: 100px;
	-webkit-box-shadow: 0 1px 5px -1px #333;
	-moz-box-shadow: 0 1px 5px -1px #333;
	box-shadow: 0 1px 5px -1px #333;
	clear: both;
	z-index: 99 !important;
}
header .container {
    padding:0 20px 0px;
}

header.scrolled {
	position:fixed;
	top:0px;
	left:0px;
}
header.scrolled + div {
	padding-top:100px;
}


/*~~~~~~~~~~~ Typography ~~~~~~~~~~~*/
p {
	font-style: normal;
	font-weight: 400;
	margin:30px 0 25px;
	color: #555;
}

p.blog-date {
	font-style: italic;
	color: #bfbfbf;
}

/*~~~~~~~~~~~ Headings ~~~~~~~~~~~*/
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 400;
	line-height:1em;
	padding:20px 0 0;
	color:#341139;
}

.slogan {
	text-transform:uppercase;
	font-size:24px;
	line-height:24px;
	color:#fff;
	text-align:center;
}
h3 {
	font-size:48px;
	text-align:center;
	padding:100px 0 8px;
	margin:0 0 32px;
}
h3.border {
	border-bottom: 1px solid #ccc;
	display: inline;
}
h3 a {
	color:#341139;
}
.link_post h3 a {
	text-decoration:underline;
}
.testim_post h3 a,p.testim {
	font-style:italic;
	color:#A8D46F;
}
p.testim {
	font-size:40px;
	line-height:50px;
}
.testim_post h3 a:hover {
	color:#359668;
}
h3 a:hover {
	color:#A8D46F;
}
h4 {
	font-size:30px;
}
h4.small {
	font-size:24px;
}
h6 {
	font-size:12px;
	text-transform:uppercase;
	padding:30px 0 0;
}
h5 {
	font-size:18px;
}
h5 a, h5 span {
	color:#a8d46f;
}
h5 a:hover {
	color:#359668;
}
h6 a {
	color:#341139;
	text-decoration:underline;
}
h6 a:hover {
	text-decoration:underline;
	color:#359668;
}
/*~~~~~~~~~~~ Links ~~~~~~~~~~~*/
a { 
	 text-decoration: none;
	 color: #f07057;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

a:hover {
 	text-decoration: none;
 	color: #444135;
}

.logo {
	float: left;
	display: block;
	margin-top:15px;
}

.logo-login {
	display: block;
	margin: 0 auto;
	margin-top:15px;
}

.btn_1 {
	padding:14px 20px 11px;
	background:#a8d46f;
	color:#f2f2e8;
	font-size:12px;
	line-height:15px;
	text-transform:uppercase;
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-shadow:none;
}
.btn_1:hover {
	color:#f2f2e8;
	background:#359668;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/*~~~~~~~~~~~ Navigation ~~~~~~~~~~~*/
ul.menu {
	width: auto;
	list-style-type: none;
	float: right;
	margin-top: 40px;
}

ul.menu li {
	font-style: normal;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 0 0 30px;
	float: left;
}

ul.menu li a {
	text-decoration: none;
	color: #34322a;
	-moz-transition: all 0.65s;
	-ms-transition: all 0.65s;
	-o-transition: all 0.65s;
	-webkit-transition: all 0.65s;
	transition: all 0.65s;
}

ul.menu li a:hover,ul.menu li a.active {
	color:#a8d46f;
}

 ul.menu li.current a {
	border-top: 2px solid #f07057;
	padding-top: 10px;	 
}
 
/*ul.menu span.separator {
	padding: 0 5px;
}*/


/*~~~~~~~~~~~ Media ~~~~~~~~~~~*/
img {
    max-width:100%;
    height: auto; 
    /*width:100%*/ 
}


/*~~~~~~~~~~~~~~~~~~~~ main ~~~~~~~~~~~~~~~~~~~~*/
.home-text, {
	background-color: #fff;
	padding: 20px;
}

.home-text p, .alert-text p{
	color: #555;
	margin: 25px 0px;
	text-align: justify;
}

.home-text strong, .alert-text strong{
	color: #000;
}

.home-text i, .alert-text i, #instrucao i{
	color: green;
}

.fa-arrows-v, .fa-question-circle-o, .fa-star {
	color: #000 !important;
}

.header_top_wrap {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0 auto;
	background:#00BCD4;
	border-top:4px solid #34322a;
	z-index: -9999;
}
.relative {
	position:relative;
}

.box_1 {
	text-align:center;
	margin-top:35px;
	margin-bottom:35px;
}
.icon_bg {
	width:98px;
	height:98px;
	background:#a8d46f;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	margin:0 auto;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.box_1:hover .icon_bg {
	background:#359668;
}

.figure {
	background:#fff;
	margin-top:50px;
	text-align:center;
}
.figure figcaption {
	padding:30px 0 25px;
}
.figure figcaption h5,.figure figcaption h6 {
	padding:0 0 0;
}
.figure figcaption h5 {
	padding-bottom:7px;
}
.figure figcaption h6 {
	padding-bottom:18px;
}

.soc_list {
	overflow:hidden;
	position:relative;
	left:50%;
	margin-left:-87px;
	padding-bottom:10px;
}
.soc_list li {
	float:left;
	margin-right:6px;
	margin-bottom:10px;
}
.soc_list li a {
	position:relative;
	display:block;
	width:24px;
	height:24px;
	overflow:hidden;
}
.soc_list li a img {
	position:absolute;
	left:0;
	top:0;
}
.soc_list li a:hover img {
	top:-24px;
}

.soc_list_2 {
	overflow:hidden;
}
.soc_list_2 li {
	text-align:center;
	margin-top:25px;
}
.soc_list_2 li div {
	display:inline-block;
	width:122px;
	height:122px;
	background:#e4e4d7;
	text-align:center;
	border-radius:500px;
}
.soc_list_2 li div a {
	display:inline-block;
	position:relative;
	width:24px;
	height:24px;
	overflow:hidden;
	top:50px;
}
.soc_list_2 li div a img {
	position:absolute;
	left:0;
	top:0;
}
.soc_list_2 li div a:hover img {
	top:-24px;
}
.flexslider {
	background:#a8d46f;
	padding:30px 115px 60px;
	text-align:center;
	margin-bottom:25px;
	position:relative;
}
.flexslider h6 span {
	color:#f2f2e8;
}
.flexslider h6 a:hover {
	text-decoration:none;
	color:inherit;
}
.flexslider p {
	margin:20px 0 0;
	font-size:36px;
	line-height:40px;
	color:#fff;
	font-style:italic;
}
.slides li {
	display:none;
}
.flex-control-nav {
	position:absolute;
	bottom:-40px;
	z-index:9;
	text-align:center;
	width:100%;
	left:0;
}
.flex-control-nav li {
	display:inline-block;
	margin-right:10px;
}
.flex-control-nav li a {
	display:block;
	width:12px;
	height:12px;
	background:#cecfd0;
	cursor:pointer;
	text-indent:-999px;
	overflow:hidden;
	border-radius:500px;
}
.flex-control-nav li a.flex-active,.flex-control-nav li a:hover {
	background:#a8d46f;
}
.flex-control-nav li a.flex-active {
	cursor:default;
}
.flexslider_2 {
	position:relative;
}
.flexslider_2 .flex-control-nav {
	bottom:35px;
}
.flexslider_2 .flex-control-nav li a {
	background:#34322a;
}
.flexslider_2 .flex-control-nav li a.flex-active,.flex-control-nav li a:hover {
	background:#fff;
}

.map_wrapper {
	position:relative;
	width:100%;
}
.map_wrapper .container {
	position:relative;
	z-index:5;
}
.map_wrapper h3 {
	margin-bottom:180px;
}
.map_wrapper section {
	background:#f6f6f0;
}
.map {
	position:absolute;
	left:0;
	right:0;
	top:225px;
	z-index:1;
	height:600px;
}
.map iframe {
	height:600px;
}
.indent1 {
	text-align:center;
	padding:35px 45px 70px;
}
.indent1 h5 {
	line-height:24px;
}
.indent1 .color_1 {
	color:#8e8e8e;
}
.indent2 {
	padding:35px 100px 70px;
}
.indent3 {
	padding:50px 0 0;
}
/*~~~~~~~~~~~~~~~~~~~~ blog ~~~~~~~~~~~~~~~~~~~~*/

.blog_post_preview {
	margin-top:15px;
	text-align:center;
	padding:0 25px 50px;
	line-height:24px;
}
.blog_post_preview figure {
	padding-top:20px;
	margin:0 -25px 0;
}
.blog_post_preview_bg h5 a {
	color:#359668;
}
.blog_post_preview_bg h5 a:hover {
	color:#a8d46f;
}
.blog_post_preview h6 {
	padding:50px 0 0;
}
.blog_post_preview p {
	margin:25px 0;
}
.blog_post_preview_bg {
	background:#fff;
}
.blog_post_preview_bg .btn_1 {
	background:#359668;
}
.blog_post_preview_bg .btn_1:hover {
	background:#a8d46f;
}
.blog_title {
	background:#a8d46f;
}
.blog_title h3 {
	padding:80px 0 100px;
	color:#fff;
}
.blog_post {
	position:relative;
	background:#fff;
	margin:50px 0 0;
	text-align:center;
}
.blog_post.blog_post_nobg {
	text-align:left;
	background:none;
}
.blog_post_nobg h3 {
	text-align:left;
}
.blog_post h3 {
	padding:35px 0 0;
	margin:0;
}
.blog_post h6 {
	padding:15px 0 50px;
}
.blog_post p {
	margin-top:0;
}

.heding_post {
	background:url(../images/heading_bg.png) center top repeat;
	position:absolute;
	z-index:5;
	left:0;
	right:0;
	top:50%;
	margin-top:-60px;
}
.heding_post h3 a {
	color:#fff;
}
.heding_post h3 a:hover {
	color:#a8d46f;
}
.heding_post h6 {
	color:#8e8e8e;
}
.default_post {
	padding:0 40px 50px;
}
.blog_post_view {
}
.blog_post_view h3 {
	text-align:left;
	margin-bottom:0;
}
.blog_post_view h6 {
	color:#8e8e8e;
	padding:0 0 45px;
}
.blog_post_view h6 a {
	text-decoration:none;
	color:#f07057;
}
.blog_post_view h6 a:hover {
	color:inherit;
}
.blog_post_view_img {
}
.blog_post_view_img img {
	border:12px solid #fff;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.post_info_wrapper {
	background:url(../images/post_info_border.png) center bottom repeat-x;
	padding:35px 0 20px;
}
.post_info_wrapper h6 {
	padding:0;
}
.post_info_tags {
}
.post_info_comments {
	text-align:right;
}
.post_info_wrapper h6 a span,.post_info_wrapper h6 {
	color:#34322a;
}

/*~~~~~~~~~~~~~~~~~~~~ gallery ~~~~~~~~~~~~~~~~~~~~*/
.gallery_wrapper {
	padding:50px 0 0;
}
.gallery_item {
}
.gallery_item_1, .gallery_item_2, .gallery_item_3, .gallery_item_4,.gallery_item_5, .gallery_item_6, .gallery_item_7, .gallery_item_8, .gallery_item_9, .gallery_item_10 {
}
.gallery_item_1,.gallery_item_8 {
	margin-left:180px;
}
.gallery_item_4, .gallery_item_5, .gallery_item_6, .gallery_item_7, .gallery_item_8, .gallery_item_9, .gallery_item_10 {
	margin-top:-55px;
}
.gallery_item figure {
	position:relative;
}
.gallery_item figcaption {
	background:url(../images/gallery_item_bg.png) left top no-repeat;
	background-size:100%;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	display:block;
	z-index:9;
	opacity:0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding:80px 30px 0;
	text-align:center;
}
.gallery_item figure:hover figcaption {
	opacity:1;
}
.gallery_item figcaption p {
	margin:0 0 0;
	color:#f2f2e8;
}
.gallery_item figcaption h6 {
	padding-top:18px;
	color:#a8d46f;
}
.gallery_item figcaption h6 a {
	color:#f2f2e8;
	display:inline-block;
	position:relative;
	padding-top:40px;
	margin-top:15px;
}
.gallery_item figcaption h6 a:after {
	display:block;
	width:26px;
	height:26px;
	background:url(../images/info_icon.png) left top no-repeat;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-13px;
	content:'';
}
.gallery_item figcaption h6 a:hover {
	text-decoration:none;
}

.color_wrap {
	position:fixed;
	left:5px;
	top:295px;
	width:0px;
	height:35px;
	z-index:999;
	background:#fff;
	border-radius:25px;
	padding:15px 0 0px 52px;
	color:#34322a;
	font-size:12px;
	line-height:20px;
	text-transform:uppercase;
	box-shadow:0 1px 3px rgba(0,0,0,.19);
	overflow:hidden;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.color_wrap_open {
	width:245px;
}
.color_wrap .btn_skin {
	width:44px;
	height:43px;
	background:url(../images/skin_color.png) left top no-repeat;
	display:block;
	left:4px;
	top:5px;
	position:absolute;
}
.color_wrap div {
	float:left;
	overflow:hidden;
	padding:0 10px 0 0;
}
.color_wrap a {
	display:block;
	cursor:pointer;
	text-indent:-999px;
	width:22px;
	height:22px;
	border-radius:500px;
	background:#a8d46f;
}
.color_wrap .theme_1 a {background:#40c0cb;}
.color_wrap .theme_2 a {background:#4286B3;}
.color_wrap .theme_3 a {background:#C5E0DC;}
.color_wrap .theme_4 a {background:#FFD006;}
.color_wrap .theme_5 a {background:#f07057;}

/*~~~~~~~~~~~~~~~~~~~~ Forms ~~~~~~~~~~~~~~~~~~~~*/
#message_form,#comment_form {
	padding-top:20px;
}
#message_form label,#comment_form label {
	margin:0 0 30px;
}
#message_form .success {
	display:none !important;
}
#message_form label.invalid input,#message_form label.invalid textarea {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
	border:1px solid #f00;
}
#message_form label input,#message_form label textarea,#comment_form label input,#comment_form label textarea {
	font-style:italic;
	background:#ecece3;
	border-radius:0;
	color:#8e8e8e;
	font-size:14px;
	line-height:17px;
	padding:0 20px;
	border:1px solid #fff;
	box-shadow: 0 1px 1px rgba(223, 223, 210, 1) inset;
	vertical-align:middle;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	width:100%;
	resize:none;
	margin:0;
}
#comment_form label input,#comment_form label textarea {
	border-radius:5px;
	border:1px solid #dfdfd5;
	box-shadow:0 none;
	font-size:18px;
	line-height:22px;
}
#message_form label input {
	height:52px;
}
#comment_form label input {
	height:60px;
}
#message_form label textarea,#comment_form label textarea {
	height:133px;
	padding:15px 20px;
}
#comment_form label textarea {
	height:240px;
}
#message_form .btn_1 {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	width:100%;
	line-height:50px;
	height:50px;
	padding:0;
}

/*~~~~~~~~~~~~~~~~~~~~ Media Queries ~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~ iPad landscape ~~~~~~~~~ */
@media screen and (max-width: 1200px) {
.gallery_item_1,.gallery_item_8 {
	margin-left:140px;
}
.gallery_item_4, .gallery_item_5, .gallery_item_6, .gallery_item_7, .gallery_item_8, .gallery_item_9, .gallery_item_10 {
	margin-top:-50px;
}
.gallery_item p {
	display:none;
}
.gallery_item figcaption {
	padding:50px 25px 0;
}
.indent2 {
	padding:35px 50px 70px;
}

}
/* ~~~~~~~~~ iPad Portrait ~~~~~~~~~ */
@media screen and (max-width: 985px) {
h1 {
	background-size:100%;
}

.container {
	padding-bottom:50px;
}
.soc_list {
	width:90px;
	margin-left:-45px;
}

.blog_post_preview {
	padding:0 10px 25px;
}
.blog_post_preview figure {
	padding-top:20px;
	margin:0 -10px 0;
}
.gallery_item_1,.gallery_item_8 {
	margin-left:115px;
}
.gallery_item_4, .gallery_item_5, .gallery_item_6, .gallery_item_7, .gallery_item_8, .gallery_item_9, .gallery_item_10 {
	margin-top:-35px;
}
.gallery_item figcaption {
	padding:25px 15px 0;
}
.indent1 {padding:35px 15px 70px;}
.blog_title h3 {padding:50px 0 70px;}
}
/* /iPad Portrait */


/* ~~~~~~~~~ iPhone Landscape/Small Tablet ~~~~~~~~~ */
@media screen and (max-width: 767px) {
.header_top_wrap {
	display:none;
}
.home_page,header {
	top:0px;
	height:65px;
}
.home_page + .container-fill {
	margin-top:0px;
}
header.scrolled + div {
	padding-top:65px;
}
a.logo {
	margin-top: 10px;
}

ul.menu li { 
	float: none;
}
.figure img {
	width:100%;
}
.soc_list {
	width:auto;
	margin-left:-87px;
}
.box_1 {
	margin-top:0;
	margin-bottom:70px;
}
.flexslider {
	padding:15px 50px 25px;
}
.flexslider p {
	font-size:20px;
	line-height:24px;
}

.blog_post_preview figure {
}
.blog_post_preview img {
	width:100%;
}
h3 {
	font-size:40px;
}
.figure {
	margin-top:15px;
}
.figure figcaption {
	padding-bottom:10px;
}

.gallery_item_1,.gallery_item_8 {
	margin-left:0;
}
.gallery_item_4, .gallery_item_5, .gallery_item_6, .gallery_item_7, .gallery_item_8, .gallery_item_9, .gallery_item_10 {
	margin-top:0;
}
.gallery_item {
	float:left;
	width:45%;
	margin-right:5%;
	margin-bottom:15px;
}
.gallery_item img {
	width:100%;
}
.gallery_item figcaption {
	padding:25% 15px 0;
}

.soc_list_2 li div {
	height:24px;
	width:24px;
}
.soc_list_2 li div a {
	top:0;
}
.post_info_wrapper {
	background:none;
}
.post_info_comments {
	padding-top:15px;
	text-align:left;
}
.indent2 {padding:35px 15px 70px;margin-top:25px;}
.heding_post h6 {padding-bottom:30px}
.heding_post h3 {padding-top:15px;font-size:25px;}
}
/* /iPhone Landscape and Small Tablet */






/* ~~~~~~~~~ Small Mobile/iPhone(portrait) ~~~~~~~~~ */
@media screen and (max-width: 479px) {

p {
	font-size: 0.8em; 
	line-height: 1.5em; /* 24/14 */
	margin:15px 0 10px;
}
h3 {
	font-size:25px;
	padding-top:50px;
}
.flex-control-nav {
	bottom:-28px;
}
.gallery_item figcaption {
	padding:10% 15px 0;
}
.gallery_item figcaption h6 a {
	margin-top:5px;
}
.heding_post h3 {padding-top:15px;font-size:20px;}
.blog_title h3 {padding:20px 0 30px;}
}
/* /iPhone port and small phones */



/* ~~~~~~~~~ Super Small Mobile ~~~~~~~~~ */
@media screen and (max-width: 319px) {



}
/* /small phones */

/* CUSTOM */

.login-div {
    background-color: #fff;
    border: 1px solid #ccc;
 	float: none;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0px 20px 70px;
}

.content {
	background-color: #fff;
	padding: 10px 30px;
}

.error {
	color: red;
	text-align: center;
}

.page-title {
	float: left;
}

.questionario-h1 {
    color: #F07057;
    display: inline-block;
    float: left;
    font-size: 40px;
}

.perfil-box {
	float: right;
	font-size: 16px;
    padding: 10px 25px;
    display: inline-block;
    line-height: 1;
    margin-top: 0px;
    background: none;
    color: #337AB7;
}

.perfil-title{
	color: #F07057;
    font-weight: bold;
    line-height: 2;
}

.objective {
	clear: both;
    padding: 30px 0px;
	text-align: justify;
}

.objective .lead {
	text-decoration: underline;
	font-weight: bold;
}

.content-objective {
	margin-bottom: 100px;
    padding: 0px 15px 30px 15px;
	text-align: justify;
}

.table-section, #cke_field-descricao, .ui-multiselect{
	width: 100% !important;
}

.table-label{
	display: none;
}

.action-btn {
	float: right;
	margin-top: 40px;
}

.header-tools {
    border: none !important;
    margin-bottom: 20px;
}

.modal-backdrop {
	z-index: 1;
}

.delete-confirmation {
	margin-top: 200px;
}

.ui-multiselect div.available {
    width: 49% !important;
}

.tab-content {
	background-color: #fff;
	border: 1px solid #ddd;
	min-height: 400px;
	padding: 35px;
}

.btn-questionario {
    background-color: #4CAF50;
    border: none;
    border-radius: 0;
    color: #fff;
	float: right;
    font-size: 20px;
    margin-top: -39px;
    padding: 7px 30px;
    opacity: .9;
}

.btn-questionario:hover {
    opacity: 1;
}

#instrucao {
	font-size: 16px;
	color: #555;
}

textarea {
	width: 100% !important;
	min-height: 100px;
}

.relatorio-panel {
	margin-bottom: 15px !important;
}

.relatorio-tabs {
	float: left;
    margin-top: -45px;
    border: none;
}

.relatorio-tabs li:hover {
	margin-top: -5px;
	border: none;
}

.relatorio-tabs a{
	height: 55px;
}

.relatorio-tabs li a{
	color: #8E8E8E;
}

.relatorio-tabs li a:hover {
	background-color: transparent;
	border: none;
	color: #f07057;
	opacity: 1;
}

.relatorio-tab-content {
	border: none;
	padding: 0;
}

.content-relatorio {
	margin-top: 70px;
}

.btn-print {
	float: right;
	margin-top: -42px;
	margin-right: -30px;
}

.pergunta-box {
	border-bottom: 1px solid #ddd;
    padding: 0px 20px;
}

.pergunta-box i{
	color: #555;
	margin-left: -18px;
}

.pergunta-box p{
	color: #696868;
    font-size: 18px;
    line-height: 1.1;
}

.pergunta-descricao small{
	text-decoration: underline;
}
.pergunta-descricao {
	font-size: 16px;
	color: #212121;
	margin: 15px 0px 40px 0px;
	text-align: justify;
}

.table-pratica {
	font-size: 16px;
}

.table-pratica thead{
	font-size: 17px;
	background-color: #5F666B;
	color: #fff;
	opacity: .8;
	border-bottom: 3px solid #F5DEB3;
}

.checkbox-hide {
	display: none !important;
}

.fa-estrela {
	font-size: 20px;
    color: #337AB7;
}

#collapse-btn {
	margin-top: -52px;
}

.metodologia-praticas {
	padding-top: 20px;
	border-top: 3px solid #ccc;
}

/* RATING */
.rating {
    border:none;
    padding: 20px 0px;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:170%;
    line-height:1.2;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}
.star1{
    color: #000 !important;
}
/* RATING */

/* ORDEM FATORES */
#sortable { 
	list-style: none; 
	text-align: left; 
}
#sortable li { 
	margin: 0 0 10px 0;
	height: 50px; 
	background: #f8f8f8;
	border: 1px solid #999999;
	border-radius: 5px;
	color: #333333;
}
#sortable li span {
	background-color: #b4b3b3;
	background-image: url('../images/drag.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 80px;
	height: 50px; 
	display: inline-block;
	float: left;
	cursor: move;
}
#sortable li img {
	height: 50px;
	border: 5px solid #cccccc;
	display: inline-block;
	float: left;
}
#sortable li h2 {    
	font-size: 20px;
    line-height: 7px;
	margin-left: 100px;
}
/* ORDEM FATORES */

.print-div {
	display: none;
}

.erro404{
	font-size: 30em;
	text-align: center;
	margin-top: 10%;
}

.btn, .alert {
	//border: none !important;
    border-radius: 0 !important;
    background-image: none !important;
}

.panel-default>.panel-heading {
	background-image:none;
	padding: 0px 20px 15px 15px;
	background-color: rgba(51,122,183,0.8);
} 

.panel-default>.panel-heading:hover {
	background-color: rgba(51,122,183,1);
}

.panel-body {
	color: #212121;
}

.panel-title, .panel-title a:hover {
	color: #fff;
}

.fa-pencil-square-o {
    color: #F07081;
    margin-top: 3px;
    font-size: 20px;
}